.posts {
    list-style-type: none ;
    margin: 0;
}

.post {
    margin: 1rem 0;

    a {
        background: antiquewhite;
        color: black;
        display: block;
        padding: 1rem;
        text-decoration: none;

    }

    a:hover{
        color: #530a7e;
    }
    a:active {
        color: red;
    }
}